.container {
  width: 100%;
  height: auto;
  .inner {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;

    .sentence_container {
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        height: 80%;
        left: 0;
        width: 100%;
        padding-top: 6px;
        background-color: #333;
        border-left: 2px solid #FFD600;
        animation: typing 2s steps(30) forwards;
      }

      .sentence {
        font-size: 25px;
        color: #FFD600;
      }
      .notification {
        color: #ccc;  
        animation: none;
      }
    }

    @keyframes typing {
      100% {
        left: 100%;
        margin: 0 -35px 0 35px;
      }
    }
    
  }
  .button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      width: 100px;
      height: 40px;
      margin: 30px 10px;
      border: 1px solid #FFD600;
      background-color: #fff;
      font-size: 15px;
      color: #FFD600;
      font-weight: 600;
      border-radius: 10px;
      transition: all .7;
      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #FFD600;
      }
    }

  }
}

