.container {
  width: 100%;
  height: 70px;
  .inner {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 18px;
      margin-right: 15px;
    }
    select {
      width: 100px;
      height: 30px;
      border-radius: 10px;
      border: 2px solid #FFD600;
      outline: none;
    }
  }
}