.container {
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  span {
    position: relative;
    color: #FFD600;
    font-size: 16px;
    &::after {
      content: "";
      position: absolute;
      height: 80%;
      left: 0;
      width: 100%;
      padding-top: 6px;
      background-color: #333;
      border-left: 2px solid #FFD600;
      animation: typing 2s steps(10) forwards;
    }
  }

  @keyframes typing {
      100% {
        left: 100%;
        margin: 0 -35px 0 35px;
      }
  }
}