.container {
  color: #fff;
  font-size: 18px;
  .adjective_who {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: .3s;
  }

  .who {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: .5s;
  }

  .where {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
  }

  .what {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: 1.9s;
  }

  .adjective_opponent {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: 2.3s;
  }

  .opponent {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: 2.7s;
  }

  .why {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: 3.7s;
  }

  .how {
    opacity: 0;
    animation-name: typing; 
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-fill-mode: forwards;
    animation-delay: 3.9s;
  }
  
  @keyframes typing {
      from {
        opacity:0;
      }
      to {
        opacity:1;
      }
  }
}