.container {
  width: 100%;
  height: 250px;
  background-image: url('../../public/backgroundImage.png');
  background-position: 100%;
  background-size: cover;
  display: flex;
  align-items: center;

  .inner {
    position: relative;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    line-height: 2;
    border-radius: 15px;
    .background_inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #333;
      border-radius: 15px;
      opacity: .7;
      z-index: 10;
    }
    .text_container {
      z-index: 999;
      ol {
        li {
          color: rgb(255, 255, 255);
          font-size: 16px;
          font-weight: 600;
          opacity: 1;
        }
      }
    }
  }
}